body {
  font-family: 'Roboto Mono',monospace;
  text-align:center;
  background-image: url('https://cdn.wallpapersafari.com/91/99/3fY5j1.jpg');
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #d61a1f;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 40px;
  position: absolute;
  top: 40px;
  right:10px;;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right:10px;
}

body > img {
  margin: 0 10px;
}

h2{
  color: #fcd612;
  margin: 0 0 5px;
}

#blocos > div {
  display: inline-block
}
iframe {
  height: 400px
}